<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Google Calendar</title>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script>

      function startApp() {
        gapi.load('auth2', function () {
          auth2 = gapi.auth2.init({
            client_id: '{{ client_id }}',
            cookiepolicy: 'single_host_origin',
          });
        });
      }

      $(document).on("click", "#g-auth-btn", () => {
        auth2.grantOfflineAccess({
          prompt: "consent",
          scope: '{{ scopes }}'
        }).then((signInCallback) => {
          $.ajax({
            type: 'post',
            data: signInCallback,
            cache: false,
            headers: { "X-CSRFToken": $.cookie('csrftoken') },
            success: function (response) {
              console.log(response);
              if (!!response.redirect) {
                window.location = response.redirect
              }
            },
            error: function (error) {
              console.log(error);
              if (!!error.responseJSON.redirect) {
                window.location = error.responseJSON.redirect
              }
            }
          });
        });
      });
      
      $(document).on("click", "#g-out-btn", () => {
        $.ajax({
          type: 'delete',
          data: '',
          cache: false,
          headers: { "X-CSRFToken": $.cookie('csrftoken') },
          success: function (response) {
            console.log(response);
          },
          error: function (error) {
            console.log(error);
          }
        });
      });

      $(document).ajaxStop(function(){
        window.location.reload();
      });

      startApp();
    </script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-info mb-5">
        <a class="navbar-brand" href="#">Medisel</a>
    </nav>

    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="card bg-light mb-3">
          <div class="card-header">Ajustes de la cuenta de Google</div>
          <div class="card-body">
            <h5 class="card-title">
              Sincronización con Google Calendar
            </h5>
            <p class="card-text">
              {% if user_is_logged %}
              Detener la sincronización de los eventos de Medisel con su cuenta de Google.
              {% else %}
              Inicie sesión para vincular su agenda de Medisel con su cuenta de Google.
              {% endif %}
            </p>
            {% if user_is_logged %}
            <button id="g-out-btn" type="button" class="btn btn-primary">Cerrar sesión de <b>Google</b></button>
            {% else %}
            <button id="g-auth-btn" type="button" class="btn btn-primary">Iniciar sesión con <b>Google</b></button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>